/*----------------------
    CONTAINERS
-----------------------*/
.wrapper-small {
    width: 60%;
    margin: auto;
}

/*----------------------
    COLORS
-----------------------*/

.bg-primary-color {
    background-color: #19BC9C;
}
.bg-secondary-color {
    background-color: #2C3E4F;
}
.bg-tertiary-color {
    background-color: #3b536d;
}

/*----------------------
    TYPO
-----------------------*/
h2 {
    text-align: center;
}

/*----------------------
    HEADER
-----------------------*/
header {
    color: #fff;
}

.avatar {
    max-height: 300px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 0 10px;
    margin-bottom: 0px;
}

/*----------------------
    MAIN
-----------------------*/
.hero {
    color: #fff;
    text-align: center;
}
.portfolio {
    position: relative;
}
.portfolio img {
    width: 100%;
    border-radius: 10px;
}
.portfolio-overlay {
    background-color: rgba(25, 188, 156, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 10px;
    font-size: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s;
    cursor: pointer;
}
.portfolio:hover .portfolio-overlay {
    opacity: 1;
}

.about {
    color: #fff;
}

.separator {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin: 16px 0;
}
.separator::before, .separator::after {
    content: "";
    display: block;
    height: 3px;
    background-color: currentColor;
    border-radius: 3px;
    max-width: 150px;
    width: 100%;
}

/*----------------------
    FOOTER
-----------------------*/
footer {
    color: #fff;
    text-align: center;
}


.field-custom {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid red;
}